<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forçar HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirecionar todas as requisições para o diretório public
    RewriteCond %{REQUEST_URI} !public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>